:root {
  --muted-black: 
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

html, body {
  height: 100%;
  width: 100%;
}

/* Each habit box */

.habit-container {
  padding: 1rem;
  margin: 0.5rem;
  width: clamp(15rem, 95vw, 44rem);
}

.habit-name {
  font-size: clamp(2rem, 4vw, 2.5rem);
}

.habit-desc {
  color: #202020;
}

/* Heatmap styling */

.heatmap-container {
  padding: 0.7rem;
  border: 1px solid #cfcfcf;
  border-radius: 0.3em;
  margin-top: 0.6rem;
  padding-bottom: 0;
}

.heatmap-grid {
  --cell-length: 10px;
  display: grid;
  grid-template-columns: repeat(52, var(--cell-length));
  grid-template-rows: 1.5rem repeat(7, var(--cell-length));
  grid-auto-columns: 10px;
  grid-auto-flow: column;
  gap: 2px;
  overflow-x: auto;
  padding-bottom: 0.6rem;
}

.heatmap-months {
  grid-column: 1 / span 54;
  display: grid;
  grid-template-columns: repeat(52, 10px);
  gap: 2px;
}

.cell {
  border-radius: 0.125em;
}

/* Cell colour styles */

.unlogged {
  background-color: #cacaca;
}

.stage-1 {
  background-color: #38ee33;
}

.stage-2 {
  background-color: #2ab326;
}

.stage-3 {
  background-color: #239520;
}

.stage-4 {
  background-color: #155913;
}

/* Button styling */
.log-button {
  margin-top: 0.5rem;
  padding: 0.3rem 0.8rem;
  border: 1px solid #303030;
  border-radius: 0.35rem;
  background-color: #fcfcfc;
  font-weight: 500;
  transition: background-color 0.2s ease-out;
}

.log-button:hover, .log-button:active {
  background-color: #e8e8e8;
  transition: background-color 0.2s ease-in;
}
/* Add so the gradient rotates as you are hovering over it NEED JS */