:root {
  --sine: cubic-bezier(0.47, 0, 0.745, 0.715);
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;    /* Firefox, other Gecko */
  box-sizing: border-box;         /* Opera/IE 8+ */
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

html, body {
  height: 100%;
  width: 100%;
  background-color: #fbfbfb;
}

/* Header styling */

header {
  padding: 0.5rem 1.5rem;
  box-shadow: 0 -8px 1rem 1px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.hamburger-icon, .hamburger-icon-clicked {
  height: 1rem;
  width: 1.3rem;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  transition: transform 0.5s ease-in-out;
}

.hamburger-icon-clicked {
  transform: rotate(180deg);
  transition: transform 0.5s ease-in-out;
}

.hamburger-bar {
  background-color: black;
  width: 100%;
  height: 2px;
  border-radius: 10px;
}

nav {
  position: absolute;
  display: flex;
  gap: 0.8rem;
}




/* Each habit box */

.habit-container {
  padding: 1rem;
  margin: 0.5rem;
  width: clamp(15rem, 95vw, 44rem);
}

.habit-name {
  font-size: clamp(2rem, 4vw, 2.5rem);
}

.habit-desc {
  color: #202020;
}

/* Heatmap styling */

.heatmap-container {
  padding: 0.7rem;
  border: 1px solid #cfcfcf;
  border-radius: 0.3em;
  margin-top: 0.6rem;
  padding-bottom: 0;
}

.heatmap-grid {
  --cell-length: 10px;
  display: grid;
  grid-template-columns: repeat(52, var(--cell-length));
  grid-template-rows: 1.5rem repeat(7, var(--cell-length));
  grid-auto-columns: 10px;
  grid-auto-flow: column;
  gap: 2px;
  overflow-x: auto;
  padding-bottom: 0.6rem;
}

.heatmap-months {
  grid-column: 1 / span 54;
  display: grid;
  grid-template-columns: repeat(52, 10px);
  gap: 2px;
}

.cell {
  border-radius: 0.125em;
}

/* Cell colour styles */

.unlogged {
  background-color: #cacaca;
}

.stage-1 {
  background-color: #38ee33;
}

.stage-2 {
  background-color: #2ab326;
}

.stage-3 {
  background-color: #239520;
}

.stage-4 {
  background-color: #155913;
}

/* Button styling */
.log-button {
  margin-top: 0.5rem;
  padding: 0.3rem 0.8rem;
  border-radius: 0.35rem;
  border: none;
  background-color: #43b3ec;
  color: white;
  transition: background-color 0.2s var(--sine);
}

.log-button:hover {
  background-color: #3b9dcf;
  transition: background-color 0.2s var(--sine);
}
/* Add so the gradient rotates as you are hovering over it NEED JS */